inputs/BLAST_LAB350cDNA/NbLAB350_Proteome.fasta
inputs/BLAST_LAB350cDNA/NbLAB350_Proteome.fasta.phr
inputs/BLAST_LAB350cDNA/NbLAB350_Proteome.fasta.pin
inputs/BLAST_LAB350cDNA/NbLAB350_Proteome.fasta.psq